<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span jhiTranslate="bankApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bankApp.transaction.refT">Ref T</span></dt>
                <dd>
                    <span>{{transaction.refT}}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.transaction.montant">Montant</span></dt>
                <dd>
                    <span>{{transaction.montant}}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.transaction.date">Date</span></dt>
                <dd>
                    <span>{{transaction.date}}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.transaction.contrat">Contrat</span></dt>
                <dd>
                    <span *ngFor="let contrat of transaction.contrats; let last = last">
                        <a [routerLink]="['/contrat', contrat?.id, 'view' ]">{{contrat.ref}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
