<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-categorie-heading" jhiTranslate="bankApp.categorie.home.createOrEditLabel">Create or edit a Categorie</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!categorie.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="categorie.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.categorie.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="categorie.nom" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="bankApp.categorie.produit" for="field_produit">Produit</label>
                    <select class="form-control" id="field_produit" multiple name="produit" [(ngModel)]="categorie.produits">
                        <option [ngValue]="getSelected(categorie.produits, produitOption)" *ngFor="let produitOption of produits; trackBy: trackProduitById">{{produitOption.nom}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
