<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-fournisseur-heading" jhiTranslate="bankApp.fournisseur.home.createOrEditLabel">Create or edit a Fournisseur</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!fournisseur.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="fournisseur.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.fournisseur.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="fournisseur.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.fournisseur.tel" for="field_tel">Tel</label>
                    <input type="number" class="form-control" name="tel" id="field_tel"
                        [(ngModel)]="fournisseur.tel" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.fournisseur.fax" for="field_fax">Fax</label>
                    <input type="number" class="form-control" name="fax" id="field_fax"
                        [(ngModel)]="fournisseur.fax" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.fournisseur.mail" for="field_mail">Mail</label>
                    <input type="text" class="form-control" name="mail" id="field_mail"
                        [(ngModel)]="fournisseur.mail" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.fournisseur.logo" for="field_logo">Logo</label>
                    <div>
                        <img [src]="'data:' + fournisseur.logoContentType + ';base64,' + fournisseur.logo" style="max-height: 100px;" *ngIf="fournisseur.logo" alt="fournisseur image"/>
                        <div *ngIf="fournisseur.logo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{fournisseur.logoContentType}}, {{byteSize(fournisseur.logo)}}</span>
                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_logo" (change)="setFileData($event, fournisseur, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                        [(ngModel)]="fournisseur.logo" />
                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                        [(ngModel)]="fournisseur.logoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.fournisseur.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="fournisseur.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === fournisseur.user?.id ? fournisseur.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="bankApp.fournisseur.produit" for="field_produit">Produit</label>
                    <select class="form-control" id="field_produit" multiple name="produit" [(ngModel)]="fournisseur.produits">
                        <option [ngValue]="getSelected(fournisseur.produits, produitOption)" *ngFor="let produitOption of produits; trackBy: trackProduitById">{{produitOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="bankApp.fournisseur.categorie" for="field_categorie">Categorie</label>
                    <select class="form-control" id="field_categorie" multiple name="categorie" [(ngModel)]="fournisseur.categories">
                        <option [ngValue]="getSelected(fournisseur.categories, categorieOption)" *ngFor="let categorieOption of categories; trackBy: trackCategorieById">{{categorieOption.nom}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="bankApp.fournisseur.adresse" for="field_adresse">Adresse</label>
                    <select class="form-control" id="field_adresse" multiple name="adresse" [(ngModel)]="fournisseur.adresses">
                        <option [ngValue]="getSelected(fournisseur.adresses, adresseOption)" *ngFor="let adresseOption of adresses; trackBy: trackAdresseById">{{adresseOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="bankApp.fournisseur.rating" for="field_rating">Rating</label>
                    <select class="form-control" id="field_rating" multiple name="rating" [(ngModel)]="fournisseur.ratings">
                        <option [ngValue]="getSelected(fournisseur.ratings, ratingOption)" *ngFor="let ratingOption of ratings; trackBy: trackRatingById">{{ratingOption.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="bankApp.fournisseur.contrat" for="field_contrat">Contrat</label>
                    <select class="form-control" id="field_contrat" multiple name="contrat" [(ngModel)]="fournisseur.contrats">
                        <option [ngValue]="getSelected(fournisseur.contrats, contratOption)" *ngFor="let contratOption of contrats; trackBy: trackContratById">{{contratOption.ref}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.fournisseur.emprunt" for="field_emprunt">Emprunt</label>
                    <select class="form-control" id="field_emprunt" name="emprunt" [(ngModel)]="fournisseur.emprunt" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="empruntOption.id === fournisseur.emprunt?.id ? fournisseur.emprunt : empruntOption" *ngFor="let empruntOption of emprunts; trackBy: trackEmpruntById">{{empruntOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
