<div>
    <h2 id="page-heading">
        <span jhiTranslate="bankApp.compte.home.title">Comptes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-compte" [routerLink]="['/compte/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bankApp.compte.home.createLabel">
            Create new Compte
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="comptes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="adressSolidty"><span jhiTranslate="bankApp.compte.adressSolidty">Adress Solidty</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="client.nom"><span jhiTranslate="bankApp.compte.client">Client</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fournisseur.nom"><span jhiTranslate="bankApp.compte.fournisseur">Fournisseur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="transaction.refT"><span jhiTranslate="bankApp.compte.transaction">Transaction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let compte of comptes ;trackBy: trackId">
                <td><a [routerLink]="['/compte', compte.id, 'view' ]">{{compte.id}}</a></td>
                <td>{{compte.adressSolidty}}</td>
                <td>
                    <div *ngIf="compte.client">
                        <a [routerLink]="['../client', compte.client?.id, 'view' ]" >{{compte.client?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="compte.fournisseur">
                        <a [routerLink]="['../fournisseur', compte.fournisseur?.id, 'view' ]" >{{compte.fournisseur?.nom}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="compte.transaction">
                        <a [routerLink]="['../transaction', compte.transaction?.id, 'view' ]" >{{compte.transaction?.refT}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/compte', compte.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/compte', compte.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'compte/'+ compte.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="comptes && comptes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
