<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produit">
            <h2><span jhiTranslate="bankApp.produit.detail.title">Produit</span> {{produit.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bankApp.produit.nom">Nom</span></dt>
                <dd>
                    <span>{{produit.nom}}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.produit.quantiteDisponible">Quantite Disponible</span></dt>
                <dd>
                    <span>{{produit.quantiteDisponible}}</span>
                </dd>
                <dt><span jhiTranslate="bankApp.produit.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="produit.picture">
                        <a (click)="openFile(produit.pictureContentType, produit.picture)">
                            <img [src]="'data:' + produit.pictureContentType + ';base64,' + produit.picture" style="max-width: 100%;" alt="produit image"/>
                        </a>
                        {{produit.pictureContentType}}, {{byteSize(produit.picture)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produit', produit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
