<div>
    <h2 id="page-heading">
        <span jhiTranslate="bankApp.produit.home.title">Produits</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produit" [routerLink]="['/produit/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bankApp.produit.home.createLabel">
            Create new Produit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="produits">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span jhiTranslate="bankApp.produit.nom">Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="quantiteDisponible"><span jhiTranslate="bankApp.produit.quantiteDisponible">Quantite Disponible</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="picture"><span jhiTranslate="bankApp.produit.picture">Picture</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let produit of produits ;trackBy: trackId">
                <td><a [routerLink]="['/produit', produit.id, 'view' ]">{{produit.id}}</a></td>
                <td>{{produit.nom}}</td>
                <td>{{produit.quantiteDisponible}}</td>
                <td>
                    <a *ngIf="produit.picture" (click)="openFile(produit.pictureContentType, produit.picture)">
                        <img [src]="'data:' + produit.pictureContentType + ';base64,' + produit.picture" style="max-height: 30px;" alt="produit image"/>
                    </a>
                    <span *ngIf="produit.picture">{{produit.pictureContentType}}, {{byteSize(produit.picture)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/produit', produit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/produit', produit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'produit/'+ produit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
