<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-produit-heading" jhiTranslate="bankApp.produit.home.createOrEditLabel">Create or edit a Produit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!produit.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="produit.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.produit.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                        [(ngModel)]="produit.nom" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.produit.quantiteDisponible" for="field_quantiteDisponible">Quantite Disponible</label>
                    <input type="number" class="form-control" name="quantiteDisponible" id="field_quantiteDisponible"
                        [(ngModel)]="produit.quantiteDisponible" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankApp.produit.picture" for="field_picture">Picture</label>
                    <div>
                        <img [src]="'data:' + produit.pictureContentType + ';base64,' + produit.picture" style="max-height: 100px;" *ngIf="produit.picture" alt="produit image"/>
                        <div *ngIf="produit.picture" class="form-text text-danger clearfix">
                            <span class="pull-left">{{produit.pictureContentType}}, {{byteSize(produit.picture)}}</span>
                            <button type="button" (click)="clearInputImage('picture', 'pictureContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_picture" (change)="setFileData($event, produit, 'picture', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="picture" id="field_picture"
                        [(ngModel)]="produit.picture" />
                    <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                        [(ngModel)]="produit.pictureContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
